body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 62.5%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
p.common-text {
  padding: 0;
  margin: 0;
  font-family: "Inter";
  font-size: 22px;
  color: "#fff";
}

div.gradient {
  background: linear-gradient(178.39deg, #92207e -17.33%, #222a6f 108.94%);
  border: 1px solid #c4c4c4;
  border-radius: 8px;
  padding: 10px 20px 10px 20px;
}

div.gradient-view {
  background: linear-gradient(
    180deg,
    #1c426f -17.05%,
    rgba(50, 103, 165, 0) 115.69%
  );
  opacity: 0.4;
  border-radius: 30px;
}
